xlrd
altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
et-xmlfile
eurostat
gitdb
GitPython
idna
importlib-metadata
install
Jinja
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
numpy
openpyxl
packaging
pandas
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
xlrd
zipp
